single-node/config/xcyber360_indexer_ssl_certs/*.pem
single-node/config/xcyber360_indexer_ssl_certs/*.key
multi-node/config/xcyber360_indexer_ssl_certs/*.pem
multi-node/config/xcyber360_indexer_ssl_certs/*.key